</div>
</div>
</main>

<footer class="bg-dark pt-3" role="contentinfo">

    <nav class="nav nav-pills flex-column flex-sm-row" aria-labelledby="menu-pied" role="navigation">
        <h2 id="menu-pied">Menu pied de page</h2>
        <a class="flex-sm-fill text-center nav-link" href="#">
            <i class="bi bi-chat-dots-fill"></i> Nous contacter
        </a>
        <a class="flex-sm-fill text-center nav-link" href="#">
            <i class="bi bi-card-list"></i> Conditions d’utilisation
        </a>
        <a class="flex-sm-fill text-center nav-link" href="#">
            <i class="bi bi-twitter"></i> Nous suivre
        </a>
    </nav>
    <div class="quote-card m-4 py-3 px-5" style="overflow: visible;">
        <blockquote class="p-0 m-0;">
            <p class="h4">Kamehamehaaaa !</p>
        </blockquote>
        <figcaption class="blockquote-footer pt-1 text-white">
            Son Goku dans <cite title="Source Title">Dragon Ball</cite>
        </figcaption>
        <img src="images/boules-dragon.png" alt="" class="boules-dragon image-decoration" width="128" height="201">
    </div><br>
</footer>
</div>
</body>

</html>