<%- include('./partials/menu') %>

    <div class="row" id="contenuPrincipal">
        <div id="carouselAccueil" class="carousel d-flex align-items-center carousel-white slide col-lg-6"
            data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="images/goku.png" class="carrousel" alt="Image de Son Goku">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="images/vegeta.png" class="carrousel" alt="Image de Vegeta">
                </div>
                <div class="carousel-item">
                    <img src="images/cell.png" class="carrousel" alt="Image de Cell">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccueil" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Precedent</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAccueil" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </button>
        </div>
        <div class="col-lg-6">
            <h3>Dragon ball<br>fighter Z</h3>
            <p>Dragon Ball Fighter Z est un jeu développé par le studio japonais de développement Arc System Works,
                grâce au moteur de jeu Unreal Engine 4.</p>
            <p>Dans un communiqué de presse japonaise, publié le 12 juin 2017, deux images du jeu sont dévoilées avant
                l'E3 2017. Une image met en scène Son Gokû Super Saiyajin contre Freezer, tandis que l'autre image
                montre Son
                Goku,Vegeta, Freezer, Cell et Majin Boo. Le jeu est révélé officiellement lors de la conférence de
                Microsoft
                à l'E3 2017.</p>
            <p>L'équipe de développement a promis une bêta fermée avant la fin de l'été sur les plateformes. La première
                s'est déroulé du 16 au 18 septembre 2017 sur PlayStation 4 et Xbox One.</p>
            <p>En une semaine de distribution, Dragon Ball FighterZ s'écoule à plus de 2 millions de copies dans le
                monde en
                cumulant les ventes physiques et dématérialisées. Ainsi, il bat le record de vente de Dragon Ball
                Xenoverse et de sa suite (deux précédents jeux vidéo édité par Bandai Namco Entertainment), lesquelles
                s'étaient
                respectivement écoulés à 1,5 million et 1,4 million
                d'exemplaires, durant la même période de commercialisation.
            </p>
            <p>Selon Antoine Molant, responsable marketing de Capcom en Europe, le volume de ventes en France est alors
                quatre fois plus important qu'au Royaume-Uni.</p>
        </div>
    </div>