<%- include('./partials/menu') %>
    <nav aria-labelledby="fil-ariane" role="navigation">
        <h2 id="fil-ariane">Fil d'ariane</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/creation">Créer un personnage</a></li>
            <li class="breadcrumb-item active text-light" aria-current="page">Personnages créés</li>
        </ol>
    </nav>
    <div class="row" id="contenuPrincipal">
        <h3>Liste des<br>personnages créés</h3>
        <div class="animation row">
            <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
                <img src="images/kidbuu.jpeg" class="card-img-topstretched-link" alt="image de kid buu">
                <div class="card-body">
                    <h4 class="card-title"><a href="#">Kid Buu</a></h4>
                    <p>Buu squash!</p>
                    <label for="customRange1" class="form-label">Attaque : 2</label>
                    <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10"
                        value="2" id="customRange1">
                    <label for="customRange2" class="form-label">Défence : 8</label>
                    <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10"
                        value="8" id="customRange2">
                    <label for="customRange3" class="form-label">Santé : 6</label>
                    <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10"
                        value="6" id="customRange3">
                    <label for="customRange4" class="form-label">Vitesse : 4</label>
                    <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10"
                        value="4" id="customRange4">
                </div>
            </div>
            <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
                <img src="images/broly.jpeg" class="card-img-top" alt="image de broly">
                <div class="card-body">
                    <h4 class="card-title"><a href="#">Goku</a></h4>
                    <p>He he he !</p>
                    <label for="customRange5" class="form-label">Attaque : 9</label>
                    <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10"
                        value="9" id="customRange5">
                    <label for="customRange6" class="form-label">Défence : 3</label>
                    <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10"
                        value="3" id="customRange6">
                    <label for="customRange7" class="form-label">Santé : 5</label>
                    <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10"
                        value="5" id="customRange7">
                    <label for="customRange8" class="form-label">Vitesse : 7</label>
                    <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10"
                        value="7" id="customRange8">
                </div>
            </div>
            <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
                <img src="images/cell.jpeg" class="card-img-top" alt="image de cell">
                <div class="card-body">
                    <h4 class="card-title"><a href="#">Cell</a></h4>
                    <p>Humpffff!</p>
                    <label for="customRange9" class="form-label">Attaque : 6</label>
                    <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10"
                        value="6" id="customRange9">
                    <label for="customRange10" class="form-label">Défence : 3</label>
                    <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10"
                        value="3" id="customRange10">
                    <label for="customRange11" class="form-label">Santé : 6</label>
                    <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10"
                        value="6" id="customRange11">
                    <label for="customRange12" class="form-label">Vitesse : 7</label>
                    <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10"
                        value="7" id="customRange12">
                </div>
            </div>
            <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
                <img src="images/vegeta.jpeg" class="card-img-top" alt="image de vegeta">
                <div class="card-body ">
                    <h4 class="card-title"><a href="#">Vegeta</a></h4>
                    <p>I will beat you!</p>
                    <label for="customRange13" class="form-label">Attaque : 8</label>
                    <input disabled aria-label="range input 1" type="range" class="form-range color-success" min="0"
                        max="10" value="8" id="customRange13">
                    <label for="customRange14" class="form-label">Défence : 4</label>
                    <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10"
                        value="4" id="customRange14">
                    <label for="customRange15" class="form-label">Santé : 1</label>
                    <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10"
                        value="1" id="customRange15">
                    <label for="customRange16" class="form-label">Vitesse : 7</label>
                    <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10"
                        value="7" id="customRange16">
                </div>
            </div>
        </div>
    </div>